body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5c2e7;}

.Name {
    background-color: #cba6f7;
    position: absolute;
    width: 700px;
    height: 400px;
    top: 150px;
    left: 550px;
    text-align: center;
    
}